.ButtonLink_wrapper {
  @apply flex justify-center my-12
}

.ButtonLink {
    @apply bg-sky-600
      flex
      font-display
      items-center
      justify-center
      no-underline
      px-6 py-3
      space-x-1.5
      text-white
      text-xl
      md:space-x-4
      md:text-2xl;
    transition: 1s;
    box-shadow: -0.55rem 0.55rem 0 black;
    transform: skewX(-15deg);
}

.ButtonLink:focus {
  @apply outline-none
}

.ButtonLink:hover {
    box-shadow: -0.9rem 0.9rem 0 rgb(185 28 28);
    transform: skewX(-15deg) translateY(-0.5rem);
    transition: 0.5s;
}

.ButtonLink .ButtonLink_span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.ButtonLink:hover  .ButtonLink_span:nth-child(2) {
    transition: 0.5s;
    margin-right: 1rem;
}

.ButtonLink_span {
  @apply text-center;
  transform: skewX(15deg) 
}

.ButtonLink_span:nth-child(2) {
  width: 20px;
}
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.ButtonLink:hover path.three {
    -webkit-animation: color_anim 1s infinite 0.2s;
            animation: color_anim 1s infinite 0.2s;
}

.ButtonLink:hover path.one {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.6s;
            animation: color_anim 1s infinite 0.6s;
}

.ButtonLink:hover path.two {
    transform: translateX(0%);
    -webkit-animation: color_anim 1s infinite 0.4s;
            animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@-webkit-keyframes color_anim {
  0% {
    @apply fill-white
  }
  50% {
    @apply fill-yellow-500
  }
  100% {
    @apply fill-white
  }
}

@keyframes color_anim {
  0% {
    @apply fill-white
  }
  50% {
    @apply fill-yellow-500
  }
  100% {
    @apply fill-white
  }
}